.banner {
    background-image: url(https://github.com/images/modules/site/patterns/contribution-graph.svg);
    background-size: 40% auto;
    mix-blend-mode: multiply;

    padding: 20px;
    border-radius: 5px;
}

.bg-blue {
    background-color: #044289;
}

.text-white {
    color: #fff;
}

.text-green {
    color: #28a745;
}

.label {
    text-transform: uppercase;
    border: 1px solid #34d058;
    border-radius: 3px;
    background-color: #044289;
    padding: 3px;
}
