a {
    color: inherit; /* blue colors for links too */
    text-decoration: inherit; /* no underline */
}
hr {
    border-color: #ece7e740;
}
.margin-0 {
    margin: 0! important;
}
.padding-0 {
    padding: 0! important;
}
.padding-2 {
    padding: 5px;
}
.display-flex {
    display: flex! important;
}
.solid-border {
    border-style: solid;
    border-color: lightgrey;
    border-width: 1px;
    border-radius: 5px;
}
.margin-top-2 {
    margin-top: 20px;
}
.margin-top-4 {
    margin-top: 40px;
}
.center {
    text-align: center;
    justify-content: center;
}
.navbar {
    background-color: #24292e;
    padding: 15px 5vw 15px 5vw;
    display: flex;
    align-items: center;
    justify-content: center;
}
.navbar > svg {
    margin-right: 20px;
}
.navbar-item {
    padding:0  0.5vw 0 0.5vw;
}
.navbar-item > input {
    margin-left: 8vw;
    font-size: inherit;
    background-color: hsla(0,0%,100%,.125);
    border: none;
    padding: 9px;
    border-radius: 4px 0px 0px 4px;
}
.navbar-item > input:focus {
    background-color: white;
    width: 25vw;
    min-width: 300px;;
    margin-left: 0.5vw;
}
.navbar-item > input:focus + img {
    display: none;
}
.navbar-item > input:focus::placeholder {
    color: white;
}
.drop-down-svg {
    x: 0px;
    y: 0px;
    fill: none;
    width: 12px;
    stroke: hsla(0,0%,100%,.5);
    background: transparent;
}
.sidebar .drop-down-svg {
    stroke: #000000;
    position: absolute;
    right: 20px;
    width: 14px;
    margin-top: 10px;
}
.navbar > .navbar-item > .dropdown {
    display: none;
    position: absolute;
    background-color: white;
    color: black;
    padding: 20px 20px 20px 20px;
    text-align:left;
    width: 300px;
    border-radius: 3px;
}
.navbar > .navbar-item > .dropdown > a {
    display: block;
    line-height: 2;
}
.dropdown > a:hover {
    color: #0366d6;
}
.navbar > .navbar-item:hover > a{
    color: #ffffff80;
}
.navbar > .navbar-item:hover > .dropdown {
    display: block! important;
}
.navbar-item > img{
    vertical-align: bottom;
    background-color: hsla(0,0%,100%,.125);
    padding: 8px;
    border-radius: 0px 4px 4px 0px;
}
.text-white {
    color: white!important;
    fill: white! important;
}
.white-border {
    padding: 5px;
    border: 1px;
    border-color: white;
    border-style: solid;
    border-radius: 3px;
}
.bold {
    font-weight: bold;
}
.box-shadow {
    -webkit-box-shadow: 0px 0px 41px -15px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 41px -15px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 41px -15px rgba(0,0,0,0.75);
}
.navbar > .navbar-mobile > .hamberger {
    display: none;
    margin-left: auto;
    margin-right: 40px;
    cursor: pointer;
}
.sidebar {
    width: 300px;
    position: fixed;
    right: 0;
    top: 0;
    background-color: white;
    height: 200vh;
    color: black;
    z-index: 2;
    padding: 20px;
    line-height: 2;
    display: none;
}
.sidebar > .navbar-item {
    color: black;
    padding: 5px 5px 5px 0px;
    display: block;
    text-align: left;
}
.sidebar > .close {
    text-align: right;
    fill: black;
    cursor: pointer;
}
.sidebar > .navbar-item > .dropdown {
    margin-top: 5px;
    display: none;
    font-size: 12px;
}
.sidebar > .navbar-item > .dropdown > a{
    display: block;
}
.sidebar > .navbar-item .active + .dropdown {
    display: block
}
.navbar > .sidebar input {
    margin-left: 0px;
    width: 220px;
    padding: 10px;
}
@media (max-width: 1200px) {
    .navbar {
        padding: 15px 0vw 15px 0vw;
    }
    .navbar-item > input {
        margin-left: 2vw;
    }
}
@media (max-width: 1000px) {
    .navbar > .navbar-mobile > .hamberger {
        display: block;
        margin-left: 30px;
    }
    .navbar > .navbar-mobile > .navbar-signup {
        display: block;
    }
    .navbar-mobile {
        display: flex;
        margin-left: auto;
        align-items: center;
    }
    .navbar > svg {
        margin-right: auto;
        margin-left: 30px;
    }
    .navbar > .navbar-item {
        display: none;
    }
    .sidebar {
        display: block;
    }
}