.hero {
    background: url(https://github.githubassets.com/images/modules/site/heroes/simple-codelines.svg), #2b3137;
    background-position: center 10%;
    color: rgba(255, 255, 255, 1);
    text-align: center;
}
.hero .lead {
    color: rgba(255, 255, 255, 0.6)
}
.hero .lead a {
    color: #FFF;
    text-decoration: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.125);
}
.hero .lead  a:hover, .hero .lead  a:active {
    border-color: rgba(255, 255, 255, 1);
}
.text-block {
    font-family: 'Inter', sans-serif;
}
.title {
    font-size: 48px;
    font-weight: 500;
    line-height: 1;
    margin-bottom: 16px;
}
.lead {
    font-size: 20px;
    font-weight: 400;
    line-height: 1.5;
}
.signupform {
    display: none;
}
.container {
    width: 90%;
    margin: 0 auto;
    padding: 40px 0;
}
@media (min-width: 540px) {
    [class^='col-'] {
        float: left;
    }
    .col-6 {
        width: 100%;
    }
    .signupform {
        display: block;
        width: 66.67%;
        margin: auto;
    }
    .container {
        margin: 0 !important;
        padding: 40px;
        width: 100%;
    }
}
@media (min-width: 768px) {
    [class^='col-'] {
        float: left;
    }
    .col-6 {
        width: 50%;
        padding: 0 24px;
        margin: 0 auto;
    }
    .signupform {
        display: inline-block;
        width: 50%;
        margin: auto;
    }
    .container {
        margin: 0 auto !important;
        padding: 0;
        width: 100%;
        display: flex;
        align-items: center;
        max-width: 1012px;
    }
    .hero {
        text-align: left;
        padding: 64px 0;
    }
    .text-block {
        width: 58.33%;
        padding: 0 24px;
    }
    .title {
        font-size: 64px;
    }
}